# SPDX-FileCopyrightText: 2019 CERN.
# SPDX-FileCopyrightText: 2019 Northwestern University.
# SPDX-License-Identifier: MIT

exclude .git-blame-ignore-revs
exclude uv.lock
include *.rst
include *.toml
include .coveragerc
include .editorconfig
include docs/*.py
include docs/*.rst
include docs/Makefile
include docs/requirements.txt
include .lgtm
include LICENSE
include run-tests.sh
recursive-include *.py *.css *.css_t *.conf *.html
recursive-include docs *.py
recursive-include tests *.py
